# --- FRONTEND ---
frontend/node_modules/
frontend/.env
frontend/.DS_Store
frontend/dist/
frontend/build/

# --- BACKEND ---
backend/__pycache__/
backend/.env
backend/.DS_Store

# --- GENERAL ---
*.log
*.pyc
*.pyo
*.db
.env
.DS_Store
.vscode/
.idea/

# --- OS specific ---
Thumbs.db
